<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421913684727-k8so9f0n1ehgmbm4dqojdm4h120s31di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421913684727-k8so9f0n1ehgmbm4dqojdm4h120s31di</string>
	<key>API_KEY</key>
	<string>AIzaSyBiCtqv2dNEEPRYSEAev_jV5HU-pImfD-I</string>
	<key>GCM_SENDER_ID</key>
	<string>421913684727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-3e5b2</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-3e5b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421913684727:ios:ca1d3433145c96831841f2</string>
</dict>
</plist>